<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MIK</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<div id="app">
  {{ message }}
  <form @submit.prevent="addUser">
    <input type="text" class="my-1 form-control" placeholder="ชื่อ" v-model="data.name" required>
    <input type="email" class="my-1 form-control" placeholder="อีเมล" v-model="data.email" required>
    <input type="password" class="my-1 form-control" placeholder="รหัสผ่าน" v-model="data.password" required>

    <button type="submit" class="btn btn-primary">บันทึก</button>
  </form>

  <div v-if="isLoading">Loading</div>
  
  <table v-else class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">address</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(user, index) in users">
        <th scope="row">{{index + 1}}</th>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>
          <p v-for="(address, address_index) in user.addresses">{{ address.address }}</p>
        </td>
        <td>
          <button type="button" class="btn btn-info" @click="editUser(user)">แก้ไข</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" @click="deleteUser(user.id)">ลบ</button>
        </td>
      </tr>
    </tbody>
  </table>

  <form v-if="edit.id" @submit.prevent="updateUser">
    <input type="text" class="my-1 form-control" placeholder="ชื่อ" v-model="edit.name" required>
    <input type="email" class="my-1 form-control" placeholder="อีเมล" v-model="edit.email" required>
    <input type="password" class="my-1 form-control" placeholder="รหัสผ่าน" v-model="edit.password">

    <button type="submit" class="btn btn-primary">แก้ไข</button>
  </form>

  <p v-if="toggle">ข้อความลับ</p>
  <button type="button" @click="toggle = !toggle">{{ !toggle ? 'เปิด' : 'ปิด'}}</button>
  
</div>

<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        message: 'Hello Vue!',
        users: [],
        toggle: false,
        data: {
          name: null,
          email: null,
          password: null
        },
        edit: {
          id: null,
          name: null,
          email: null,
          password: null
        },
        isLoading: true
      }
    },
    created(){
      this.message = 'New Text'
      this.getUser()
    },
    methods:{
      getUser(){
        this.isLoading = true
        console.log('getUser')
        axios.get('http://127.0.0.1:8000/api/users').then((reponse) => {
          
          this.users = reponse.data
          console.log('users', this.users)
          this.isLoading = false
        });
      },
      addUser(){
        axios.post('http://127.0.0.1:8000/api/users', this.data).then((reponse) => {
          console.log('addUser', reponse)
          this.getUser()
        });
      },
      editUser(user){
        this.edit = {
          id: user.id,
          name: user.name,
          email: user.email,
          password: null
        }
      },
      updateUser(){
        axios.put('http://127.0.0.1:8000/api/users/' + this.edit.id, this.edit).then((reponse) => {
          this.getUser()
          this.edit = {
            id: null,
            name: null,
            email: null,
            password: null
          }
        });
      },
      deleteUser(id){
        console.log('deleteUser', id)
        axios.delete('http://127.0.0.1:8000/api/users/' + id).then((reponse) => {
          this.getUser()
        });
      }
    }
  }).mount('#app')
</script>