<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
</script>

<div id="app">{{ message }}
{{data.name}}
    <form @submit.prevent="addUser">
        <input type="text" class="form-control" placeholder="ชื่อ" v-model="data.name" required>
        <input type="email" class="form-control" placeholder="อีเมลล์" v-model="data.email" required>
        <input type="password" class="form-control" placeholder="รหัสผ่าน" v-model="data.password" required>

        <button type="submit" class="btn btn-primary">บันทึก</button>
    </form>
    <div v-if="isloading">Loading</div>
    <table v-else class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">email</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(user , index) in users">
                <th scope="row">{{index + 1}}</th>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>
                    <button type="button" class="btn btn-warning" @click="editUser(user)">แก้ไข</button>
                    <button type="button" class="btn btn-danger" @click="deleteUser(user.id)">ลบ</button>
                </td>
            </tr>
        </tbody>
    </table>
    <form v-if="edit.id" @submit.prevent="updateUser">
        <input type="text" class="form-control" placeholder="ชื่อ" v-model="edit.name" required>
        <input type="email" class="form-control" placeholder="อีเมลล์" v-model="edit.email" required>
        <input type="password" class="form-control" placeholder="รหัสผ่าน" v-model="edit.password" >

        <button type="submit" class="btn btn-primary">แก้ไข</button>
    </form>
</div>

<script>
    const {
        createApp
    } = Vue

    createApp({
        data() {
            return {
                message: 'Hello Vue!',
                users: [],
                data: {
                    name: null,
                    email: null,
                    password: null
                },
                edit: {
                    id: null,
                    name: null,
                    email: null,
                    password: null
                },
                isloading: false
            }
        },
        created() {

            this.message = 'POSTTEST'
            this.getUser()
        },
        methods: {
            getUser() {
                this.isloading = true

                console.log('getUser')
                axios.get('http://127.0.0.1:8000/api/users').then((reponse) => {
                    console.log('reponse', reponse.data)
                    this.users = reponse.data
                    this.isloading = false
                });
            },
            addUser() {

                axios.post('http://127.0.0.1:8000/api/users', this.data).then((reponse) => {
                    console.log('addUser', reponse)
                    this.getUser()
                });
            },
            deleteUser(user_id) {
                axios.delete('http://127.0.0.1:8000/api/users/' + user_id).then((reponse) => {
                    console.log('addUser', reponse)
                    this.getUser()
                });
            },
            editUser(user) {
                this.edit = {
                    id: user.id,
                    name: user.name,
                    email: user.email,
                    password: null
                }
            },
            updateUser() {

                axios.put('http://127.0.0.1:8000/api/users/' + this.edit.id, this.edit).then((reponse) => {
                    console.log('updateUser', reponse)
                    this.getUser()
                    this.edit = {
                        id: null,
                        name: null,
                        email: null,
                        password: null
                    }
                });
            }
        }
    }).mount('#app')

</script>
